
@{
    ViewData["Title"] = "_Size";
}

<!-- Size modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="size-modal" id="size-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Size guide</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, et velit propriae invenire mea, ad nam alia intellegat. Aperiam mediocrem rationibus nec te. Tation persecuti accommodare pro te. Vis et augue legere, vel labitur habemus ocurreret ex.</p>
                <div class="table-responsive">
                    <table class="table table-striped table-sm sizes">
                        <tbody>
                            <tr>
                                <th scope="row">US Sizes</th>
                                <td>6</td>
                                <td>6,5</td>
                                <td>7</td>
                                <td>7,5</td>
                                <td>8</td>
                                <td>8,5</td>
                                <td>9</td>
                                <td>9,5</td>
                                <td>10</td>
                                <td>10,5</td>
                            </tr>
                            <tr>
                                <th scope="row">Euro Sizes</th>
                                <td>39</td>
                                <td>39</td>
                                <td>40</td>
                                <td>40-41</td>
                                <td>41</td>
                                <td>41-42</td>
                                <td>42</td>
                                <td>42-43</td>
                                <td>43</td>
                                <td>43-44</td>
                            </tr>
                            <tr>
                                <th scope="row">UK Sizes</th>
                                <td>5,5</td>
                                <td>6</td>
                                <td>6,5</td>
                                <td>7</td>
                                <td>7,5</td>
                                <td>8</td>
                                <td>8,5</td>
                                <td>9</td>
                                <td>9,5</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th scope="row">Inches</th>
                                <td>9.25"</td>
                                <td>9.5"</td>
                                <td>9.625"</td>
                                <td>9.75"</td>
                                <td>9.9375"</td>
                                <td>10.125"</td>
                                <td>10.25"</td>
                                <td>10.5"</td>
                                <td>10.625"</td>
                                <td>10.75"</td>
                            </tr>
                            <tr>
                                <th scope="row">CM</th>
                                <td>23,5</td>
                                <td>24,1</td>
                                <td>24,4</td>
                                <td>24,8</td>
                                <td>25,4</td>
                                <td>25,7</td>
                                <td>26</td>
                                <td>26,7</td>
                                <td>27</td>
                                <td>27,3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /table -->
            </div>
        </div>
    </div>
</div>

